/* ------------------------------------------------------------------------- */
/* Sections */
/* ------------------------------------------------------------------------- */
.page-background {
    -webkit-font-smoothing:antialiased;
    background-color: #212121;
}
.section-container {
    border: 8px solid;
    border-radius: 8px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    /*font-family: Arial;*/
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    width:100%;
    margin-bottom:8px;
    page-break-inside: avoid;
}

.section-content {
    padding:8px;
    padding-bottom: 0;
    border-radius: 8px;
    margin-top: 0;
    background-color: #121212;
    border-color: inherit;
    font-size: inherit;
}

.section-title {
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #e5e5e5;
    font-size: 16pt;
}

.section-title-reverse-sienna {
    height: 32px;
    padding-left: 0px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #a0522d;
    font-size: 16pt;
}

.section-title-reverse-maroon {
    height: 32px;
    padding-left: 0px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #800000;
    font-size: 16pt;
}

.section-title-reverse-firebrick {
    height: 32px;
    padding-left: 0px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #b22222;
    font-size: 16pt;
}

.section-title-reverse-class {
    height: 32px;
    padding-left: 0px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #2e4606;
    font-size: 16pt;
}

.section-title-reverse-purple {
    height: 32px;
    padding-left: 0px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #800080;
    font-size: 16pt;
}

.section-title-reverse-indianred {
    height: 32px;
    padding-left: 0px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #cd5c5c;
    font-size: 16pt;
}

.section-title-reverse-seagreen {
    height: 32px;
    padding-left: 0px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #2e8b57;
    font-size: 16pt;
}

.section-title-reverse-spellcasting {
    height: 32px;
    padding-left: 0px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #404580;
    font-size: 16pt;
}

.section-title-reverse-multiclassing {
    height: 32px;
    padding-left: 0px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #ff8c00;
    font-size: 16pt;
}

.section-title-reverse-black {
    height: 32px;
    padding-left: 0px;
    padding-right: 8px;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: #ff8c00;
    font-size: 16pt;
}

.float-right {
    float: right;
}

.section-subtitle, #modal-reference {
    display: block;
    margin-bottom: 8px;
    font-size: inherit;
    font-style: italic;
}

#modal-reference {
    margin-top: 1em;
}

.section-row {
    font-size: inherit;
}

.section-row:before, .section-row:after{
    display: table;
    content: " ";
    clear: both;
}

.section-row + .section-subtitle {
    margin-top: 1em;
}

/* ------------------------------------------------------------------------- */
/* Items */
/* ------------------------------------------------------------------------- */

.item {
    margin-bottom: 8px;
    float: left;
    display: flex;
    font-size: inherit;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
}

.item-icon {
    float: left;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
}

.item-title {
    font-weight: bold;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-desc {
    font-style: italic;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-text-container {
    flex: 1;
    padding-right: 4px;
    font-size: inherit;
    height: 100%;
}

table {
    width:40%;
}
table, th, td {
    border: 0px solid #212121;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #212121;
    border-radius: 4px;
}
table#t01 tr:nth-child(odd) {
   background-color: #212121;
   border-radius: 4px;
}
table#t01 th {
    background-color: #212121;
    color: #212121;
}

/* ------------------------------------------------------------------------- */
/* Colors */
/* ------------------------------------------------------------------------- */
#section-movement, #section-movement .item-icon {
    background-color: maroon;
    border-color: maroon;
}
#section-movement .text {
    color: hsl(0, 100%, 35%);
}

#section-action, #section-action .item-icon {
    background-color: #000000;
    border-color: #000000;
}
#section-action .text {
    color: hsl(0, 0%, 96%);
}

#section-free-action, #section-free-action .item-icon {
    background-color: gray;
    border-color: gray;
}
#section-free-action .text {
    color: hsl(0, 0%, 60%);
}

#section-bonus-action, #section-bonus-action .item-icon {
    background-color: indigo;
    border-color: indigo;
}
#section-bonus-action .text {
    color: hsl(275, 100%, 35%);
}

#section-reaction, #section-reaction .item-icon {
    background-color: DarkOliveGreen ;
    border-color: DarkOliveGreen ;
}
#section-reaction .text {
    color: hsl(82, 39%, 35%);
}

#section-condition, #section-condition .item-icon {
    background-color: orangered;
    border-color: orangered;
}
#section-condition .text {
    color: hsl(16, 100%, 35%);
}

#section-visibility, #section-visibility .item-icon {
    background-color: #2271AE;
    border-color: rgb(35, 114, 175);
}
#section-visibility .text {
    color: hsl(206, 67%, 41%);
}

#section-travel, #section-travel .item-icon {
    background-color: #228b22;
    border-color: #228b22;
}
#section-travel .text {
    color: hsl(120, 61%, 35%);
}

#section-xp, #section-xp .item-icon {
    background-color: #2271AE;
    border-color: #2271AE;
}
#section-xp .text {
    color: hsl(206, 67%, 35%);
}

#section-attacksdamage, #section-attacksdamage .item-icon {
    background-color: #cd5c5c;
    border-color: hsl(0, 53%, 58%);
}
#section-attacksdamage .text {
    color: hsl(0, 53%, 68%);
}

#section-deathrecovery, #section-deathrecovery .item-icon {
    background-color: #2e8b57;
    border-color: #2e8a56;
}
#section-deathrecovery .text {
    color: hsl(146, 50%, 46%);
}

#section-abilities, #section-abilities .item-icon {
    background-color: firebrick;
    border-color: rgb(180, 34, 34);
}
#section-abilities .text {
    color: hsl(0, 68%, 52%);
}

#section-languages, #section-languages .item-icon {
    background-color: Purple;
    border-color: #800080;
}
#section-languages .text {
    color: hsl(300, 100%, 35%);
}

#section-equipment, #section-equipment .item-icon {
    background-color: Sienna;
    border-color: #9f512d;
}
#section-equipment .text {
    color: hsl(19, 56%, 50%);
}

#section-classfeatures, #section-classfeatures .item-icon {
    background-color: #2e4606;
    border-color: #2e4606;
}
#section-classfeatures .text {
    color: hsl(83, 84%, 25%);
}

#section-spellcasting, #section-spellcasting .item-icon {
    background-color: #404580;
    border-color: #414681;
}
#section-spellcasting .text {
    color: hsl(235, 33%, 48%);
}

#section-multiclassing, #section-multiclassing .item-icon {
    background-color: darkorange;
    border-color: #ff8c00;
}
#section-multiclassing .text {
    color: hsl(33, 100%, 60%);
}


/* ------------------------------------------------------------------------- */
/* Page container */
/* ------------------------------------------------------------------------- */

body {
    display: flex;
    justify-content:center;
    align-content:center;
}

/* ------------------------------------------------------------------------- */
/* Misc */
/* ------------------------------------------------------------------------- */

.hidden {
    display: none;
}

ul {
    padding-left: 20px;
}

p, hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    border: 0px;
    border-top: 1px solid gray;
}

p:first-child {
    margin-top: 1em;
}

/* ------------------------------------------------------------------------- */
/* Modal */
/* ------------------------------------------------------------------------- */
.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    outline: 0;
    display: none;
}

.modal-visible {
    display: block;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 8px;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #e5e5e5;
    opacity: .75;
    overflow: hidden;
}

.modal-container {
    background-clip: padding-box;
    color:#e5e5e5;
    outline: 0;
      outline-color: initial;
      outline-style: initial;
      outline-width: initial;
    box-shadow: 0 3px 9px hsl(0, 0%, 50%);
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}


/* ------------------------------------------------------------------------- */
/* Viewport sizes */
/* ------------------------------------------------------------------------- */

/* Smart phone, portrait */
@media (min-width:    0px) and (max-width:  479px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px;}
    .itemsize { height: 44px; width: 100%; }
    .modalsize {}
}

/* Smart phone, landscape */
@media (min-width:  480px) and (max-width:  767px) {
    .fontsize { font-size: 11pt; }
    .iconsize { width: 40px; height: 40px;}
    .itemsize { height: 40px; width:  50%; }
    .modalsize {}
}

/* Tablet, portrait */
@media (min-width:  768px) and (max-width:  991px) {
    .fontsize { font-size: 11pt; }
    .iconsize { width: 40px; height: 40px;}
    .itemsize { height: 40px; width:  33%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Tablet, landscape */
@media (min-width:  992px) and (max-width: 1199px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px;}
    .itemsize { height: 44px; width:  33%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Small desktop screen */
@media (min-width: 1200px) and (max-width: 1599px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px;}
    .itemsize { height: 44px; width:  25%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Large desktop screen */
@media (min-width: 1600px) {
    .fontsize { font-size: 12pt; }
    .iconsize { width: 44px; height: 44px;}
    .itemsize { height: 44px; width:  20%; }
    .modalsize { width: 600px; margin: 30px auto; }
}

/* Print */
@media print {
    .fontsize { font-size: 10pt; }
    .iconsize { width: 36px; height: 36px;}
    .itemsize { height: 36px; width:  33%; }
    .modalsize {}
}
